
h3 {
  color: $primary;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.main-colum {
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.100) !important;
}

body {
  background: rgb(231, 231, 231);
}