button.btn.dropdown-toggle.btn-secondary {
  background-color: $transparent;
  border: $transparent;
  &:active {
    background-color: $transparent;
    border: none;
  }
  &:focus {
    background-color: $transparent;
    border: $transparent;
  }
}