.swal2-confirm {
  background-color: $menu-color2 !important;
  &:focus {
    box-shadow: none !important;
  }
  &:hover {
    background-image: none !important;
  }
}

.swal2-cancel {
  background-color: white !important;
  color: $menu-color2 !important;
  border: 1px solid $menu-color2 !important;
  &:focus {
    box-shadow: none !important;
  }
  &:hover {
    background-image: none !important;
  }
}

.swal2-title {
  color: $menu-color2;
}