.product-page {
  margin-top: 80px !important;
}

.img-one-prod {
  width: 190px;
  height: 190px;
}

.box-payment{ 
  @include color-main();
  width: 100%;
  color: white;
  text-align: center;
  // margin-top: -30px;
}

.value {
  font-size: 16pt;
}

.carousel-control-prev{
  margin: -35px !important;
  @include color-main();
  height: 40px;
  width: 20px;
  top: 100px;
}

.carousel-control-next {
  margin: -35px !important;
  @include color-main();
  height: 40px;
  width: 20px;
  top: 100px;
}
